<div class="row navbar-bg">
	<div class="large-7 small-12 medium-4 small-centered large-uncentered medium-uncentered columns">
	</div>
	<div class="large-4 medium-6 small-10  small-centered large-uncentered medium-uncentered columns">
		<ul class="nav-block">
			<li><i class="works-icon inline-block" ></i><div class='login-button inline'>How it works</div></li>
			<li><i class="user-icon inline-block" ></i><div class='login-button inline' {{action 'toggleLoginPopup'}}>Login</div></li>
		</ul>
	</div>
</div>
